*,*:after,*:before{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}


header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem;
    text-align: center;
    align-items: center;
}

.titulo{
    font-family: 'Press Start 2P', cursive;
    margin-top: 1rem;
}

.icono{
    width: 3.5rem;
    height: max-content;

}

.formulario{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.formulario input{
    text-align: center;
    margin: 0.5rem;
}

.icono-tipo img{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
}
.imagenes-pokemon{
    width: 15rem;
    height: 15rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.titulo-card{
    font-family: 'Mogra', cursive;
    text-transform: uppercase ;
    font-size: xx-large;
}

@media (min-width: 768px ) {
    header{
        flex-direction: row;
    }
    .formulario{
        width: max-content;
        flex-direction: row;
        margin: 0;
        height: fit-content;
    }
}